<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="test_suite">

<listeners>

<listener class-name="utilities.ExtentReortManager"/>


</listeners>

<test name="Homepage_test">

<classes>
<class name="testCases.Homepage_Test"/>

<class name="testCases.LoginTest"/>

</classes>

</test>




</suite>